#portfolio {
  margin-top: 50px;
}

/* .box:hover {
  box-shadow: 5px 5px 5px #ffffff;
} */
#github {
  margin-right: 10px;
  margin-top: 10px;
}

.button {
  color: darkgoldenrod;
  border-style: solid;
  border-color: darkgoldenrod;
  border-width: 2px;
}

#button-box {
  margin-top: 30px;
}

.button:hover {
  background-color: #EBCA77;
}

#email-address {
  margin-top: 10px;
  font-size: 15px;
  opacity: 0.5;
}

#design-subtitle {
  margin-top: 36px;
}

.dev-title {
  color: darkgoldenrod;
}

.tile .is-child:hover {
  background-color: #EBCA77;
}
